@import "./blocks/header.css";
@import "./blocks/promo.css";
@import "./blocks/feature.css";
@import "./blocks/about.css";
@import "./blocks/team.css";
@import "./blocks/inset.css";
@import "./blocks/join.css";
@import "./blocks/clients.css";
@import "./blocks/clasa1.css";
@import "./blocks/footer.css";
@import "./blocks/modal.css";
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto";
  font-style: normal;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.container-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.whin {
  color: #ffffff;
}
a:hover,
a:hover path {
  fill: #2196f3;
  color: #2196f3;
}
.ins:hover {
  transform: scale(1.1);
}
a,
a:hover path {
  fill: #ffffff;
}
li:hover,
a:hover path {
  fill: #ffffff;
}
.sohcial a:hover {
  background-color: #2196f3;
}
