.header_logo span {
  color: #2196f3;
}
.header_link {
  list-style-type: none;
}
.header_link a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.header_link a:hover {
  color: #2196f3;
}
.header_contakts1 {
  list-style-type: none;
}
.header_contakts1 a {
  text-decoration: none;
  color: #757575;
}
.header_contakts1 a:hover {
  color: #2196f3;
}

.header_contakt::before {
  background: url(/icons/envelope\.svg);
}

.promo h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.promo_inform {
  color: #ffffff;
}
.promo {
  animation: fadeInUp 2s 1s;
}
.promo_btn:hover {
  animation: tada;
}

.promo_btn {
  animation: pulse 2s 3s infinite;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  text-align: center;
  letter-spacing: 0.06em;
  height: 50px;
  border: 0ch;
  padding: 5px 20px;
  width: 216px;
  color: #ffffff;
}
.promo_btn {
  display: flex;
  justify-content: center;
  width: 216px;
  height: 50px;
  flex-shrink: 0;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  transition-property: transform;
}
.promo_btn:hover {
  transform: scale(1.2);
}
.bloc {
  background: url(./img/shapca.png) center/cover no-repeat;

  padding: 200px 0;
}
.feature_item h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  margin-top: 10px;
  letter-spacing: 0.03em;
}
.feature_item1 {
  width: 270px;
  height: 120px;
}
.feature_item2 {
  width: 270px;
  height: 120px;
}
.feature_item3 {
  width: 270px;
  height: 120px;
}
.feature_item4 {
  width: 270px;
  height: 120px;
}
.feature_item {
  list-style-type: none;
}
.text {
  color: #757575;
}
.abouts {
  color: #212121;
}
.about_img {
  list-style-type: none;
}
.about_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.abouts {
  color: #212121;
}
.about_img-item {
  margin-bottom: 120px;

  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.5);
}
.cirkle {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
}
.team_iimg ul {
  display: flex;
  gap: 10px;
  justify-content: center;
}
a,
a:hover path {
  fill: #2196f3;
}
.team_img {
  list-style-type: none;
  text-decoration: none;
}
.team_iimg {
  background: #ffffff;
  width: 270px;
  height: 410px;
  margin-top: 10px;
  text-align: center;
  animation: fadeInLeft 4s;
}
.team_iimg {
  width: 270px;
  box-shadow: -5px 5px 5px -5px rgba(0, 0, 0, 0.5);
}
.img {
  object-fit: cover;
  width: 100%;
}

.text2 {
  color: #757575;
}
.clasa1 {
  padding: 60px 0;
  background: #2f303a;
}
.clients h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.footer_link a {
  color: rgba(255, 255, 255, 0.6);
}
.footer_links a {
  text-decoration: none;
}
.header_logo {
  display: inline-block;
  width: 20px;
  padding: 10px 10px;
}
.promo_inform {
  text-align: center;
}
.promo_btn {
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

.feature_item {
  display: inline-block;
  width: 270px;
}
.abouts {
  text-align: center;
}
.teams {
  text-align: center;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.our_team {
  width: 1170px;
  margin: 0 auto;
}
.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_link {
  width: 280px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.header_logo {
  color: black;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 520px;
}
.container-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.header_contakts1 {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.header {
  display: block;
}
nav {
  display: block;
}
nav ul {
  width: 280px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.feature_items {
  display: flex;
  text-decoration: none;
  color: #212121;
  justify-content: space-between;
}
.feature {
  padding: 95px 0;
}
.about {
  width: 1170px;
  margin: 0 auto;
}
.abouts {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0 0 50px 0;
}
.about_img {
  display: flex;
  justify-content: space-between;
  margin: 0 0 100px 0;
}
.team {
  background-color: #f5f4fa;
  padding: 94px 0;
  margin: 0;
}
.teams {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0 0 50px 0;
}
.team_img {
  width: 1170px;
  margin: 0 auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_contakts2 {
  width: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.header_contakts2 {
  list-style-type: none;
  margin-top: 15px;
}
.header_contakts2 a {
  text-decoration: none;
  margin-top: 10px;
  color: #757575;
}
.header_contakts2 a:hover {
  color: #2196f3;
}
.header_wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.whin {
  color: #ffffff;
}
.join_in h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.join_in ul {
  margin: 0 auto;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.cirkle {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
}
a:hover,
a:hover path {
  fill: #2196f3;
  color: #2196f3;
}
.inset h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}
.ins {
  color: #ffffff;
  text-align: center;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: 0px;
}
.ins:hover {
  transform: scale(1.1);
}
.clasa1 .container {
  display: flex;
  gap: 90px;
}
.clients a {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
a:hover {
  border-color: #2196f3;
}
.clients ul {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.clients {
  padding: 94px 0;
}
