.team {
    background-color: #f5f4fa;
    padding: 94px 0;
    margin: 0;
    &_iimg h3 {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
      
        text-align: center;
        letter-spacing: 0.03em;
        margin-top: 30px;
        color: #212121;
      }
      &_iimg ul {
        padding: 0;
        display: flex;
        gap: 10px;
        justify-content: center;
      }
      &_iimg {
        background: #ffffff;
        width: 270px;
        padding-bottom: 30px;
        text-align: center;
        animation: fadeInLeft 4s;
      }&_iimg {
        border-radius: 10px;
        width: 270px;
        box-shadow: -5px 5px 5px -5px rgba(0, 0, 0, 0.5);
      }
      .img {
        object-fit: cover;
        width: 100%;
      }
      
      .text2 {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
      
        text-align: center;
        letter-spacing: 0.03em;
        padding: 10px 0;
        color: #757575;
      }
    
      .teams {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        margin: 0 0 50px 0;
      }
      &_img {
        width: 1170px;
        margin: 0 auto 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .sohcial a {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 44px;
        height: 44px;
      
        border-radius: 100%;
      }
  }

  